<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE import>
<import>
	<!-- LDAP Settings -->
	<ldapSyncDomain>ARMEDIA</ldapSyncDomain>
	<ldapUrl>LDAP://DC=ARMEDIA,DC=com</ldapUrl>
	<!--
	<ldapUrl>ldap://ldap.armedia.com</ldapUrl>
	<ldapBindDn>CN=JIRA Admin PR,CN=Users,DC=armedia,DC=com</ldapBindDn>
	<ldapBindPw>j1RAaDm!N2010</ldapBindPw>
	-->

	<!-- Sharepoint Target Settings -->
	<siteUrl>https://armediacaliente.sharepoint.com/sites/CMF</siteUrl>
	<library>CMFTest</library>
	<user>diego.rivera@armediacaliente.onmicrosoft.com</user>
	<password>cauLgj9ZwriLGilIdXvTvEi1LyzKp4BJYGru9lc7tMA=</password>

	<!-- Source Content Settings -->
	<content>C:/Users/drivera/Desktop/Caliente/streams</content>
	<!-- <content>E:/workspace/Armedia/SharePoint.CMSMF/Import/sample</content> -->

	<!-- user mapping settings -->
	<fallbackUser>diego.rivera@armediacaliente.onmicrosoft.com</fallbackUser>
	<internalUser>diego.rivera@armediacaliente.onmicrosoft.com</internalUser>
	<fallbackGroup>linuxadmins</fallbackGroup>
	<internalGroup>armediaemployees</internalGroup>

	<!-- other settings -->
	<threads>10</threads>
	<reuseCount>10</reuseCount>
	<cleanTypes>true</cleanTypes>
	<simulationMode>none</simulationMode>
	<locationMode>current</locationMode>
	<fixExtensions>true</fixExtensions>
	<autoPublish>true</autoPublish>
	<retries>3</retries>
	<cmsmf.indexOnly>false</cmsmf.indexOnly>
</import>