<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="default" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} %-5p [%-16t] %c - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.armedia.caliente.tools.dfc" level="DEBUG"/>
	<logger name="console" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="default"/>
	</root>
</configuration>