target
.refactorings
documentum
dfc.properties
dfc.keystore
*.log
*.manifest.csv
*.err
caliente
test-fs
*Model.xml
*map.xml
*.properties
*.sh
import-*.xml
export-*.xml
test-*.xml
caliente-*.xml
alfresco-*.xml
