/target/
/.refactorings/
/documentum/
/caliente/
/test-fs/
/dfc.properties
/dfc.keystore
/*.log
/*.manifest.csv
/*.err
/*Model.xml
/*-usermap*.xml
/*-groupmap*.xml
/*-filenamemap*.xml
/*.properties
/*.sh
/*-import-*.xml
/*-export-*.xml
/test-*.xml
/*-caliente-*.xml
/*-alfresco-*.xml
/off.*
/config.off/
