target
.refactorings
documentum
dfc.properties
dfc.keystore
*.log
*.manifest.csv
*.err
test-fs
*Model.xml
usermap*.xml
groupmap*.xml
filenamemap*.xml
*.properties
*.sh
import-*.xml
export-*.xml
test-*.xml
caliente-*.xml
alfresco-*.xml
/caliente
